body{
    font-family:"Lucida Console", Courier, monospace ;
}
.home{
    background-image: url("IMAGES/h_img.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 100vh;
}
.about{
    text-align: center;
}
h3{
    text-align: center;
    font-weight: bold;
}