body{
    font-family:"Lucida Console", Courier, monospace ;
}
.home{
    background-image: url("IMAGES/h_img.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 100vh;
}
.about{
    text-align: center;
}
h3{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.services{
    background-image: url("IMAGES/s_image.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 100vh;
}
h4{
    font-size: 50px;
}
h5{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
h9{
    font-size: 50px;
    font-weight: bold;
}
.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row{
    display: table;
}
.inquiry{
    background-image: url("IMAGES/c_image.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 100vh;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
#footer{
    text-align: center;
}
li{
    display: inline-block;
}
.pic1-onclick, .pic2-onclick, .pic3-onclick{
    display: none;
  }
 .design-pic, .development-pic, .product-pic{
    cursor: pointer;
 }