body{
    font-family:"Lucida Console", Courier, monospace ;
}
.home{
    background-image: url("IMAGES/h_img.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 100vh;
}
.about{
    text-align: center;
}
h3{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.services{
    background-image: url("IMAGES/s_image.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 100vh;
}
h4{
    font-size: 50px;
}
h9{
    font-size: 50px;
    font-weight: bold;
}
.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row{
    display: table;
}
.inquiry{
    background-image: url("IMAGES/c_image.jpg");
    background-size: cover;
}